.primary-background{
    -fx-background-color: #F67F00;
}

.secondary-background{
    -fx-background-color: #FBF9F6;
}
.white-background{
    -fx-background-color:#F8DA60;
}

.transparent{
    -fx-background-color: #00008B;
}

.realwhite-background{
    -fx-background-color:#FFFFFF;
}
